.product-section{
    width: 100%;
    margin-top: 120px;
    padding: 0px 5vw;
    display: flex;
    gap: 40px;
}

.product-image{
    width: 70%;
    height: 600px;
    object-fit: cover;
}

.product-title{
    font-size: 60px;
}

.product-des{
    margin: 30px;
    font-family: 'lato', sans-serif;
    opacity: 0.5;
    font-size: 20px;
    line-height: 30px;
}

.ratings{
    display: flex;
}

.ratings .stars{
    width: 30px;
    height: 30px;
}

.rating-count{
    font-family: 'lato', sans-serif;
    opacity: 0.4;
    font-size: 14px;
    line-height: 40px;
    margin-left: 20px;
}

.price{
    font-size: 60px;
    margin: 30px 0;
}

.product-btn{
    padding: 15px 40px;
    border: none;
    color: white;
    outline: none;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    text-transform: capitalize;
}

.buy-btn{
    background-color: #d5be8b;
}

.cart-btn{
    background-color: #198c05;
}

.detail-des{
    width: 100%;
    padding: ;
}