.product-section{
    width: 100%;
    margin-top: 120px;
    padding: 0px 5vw;
    display: flex;
    gap: 40px;
}

.product-image{
    width: 70px;
    height: 600px;
    object-fit: cover;
}

.product-title{
    font-size: 60px;
}

.product-des{
    margin: 30px;
    font-family: 'lato', sans-serif;
    opacity: 0.5;
    font-size: 20px;
    line-height: 30px;
}

.ratings{
    display: flex;
}

.ratings .stars